<%- include("partials/header") %>

<div class="left bg-light scrollable">
	<h2 class="ml-2 mt-2">Users:</h2>
	<ul class="ml-3 mt-3 users"></ul>
</div>

<div class="right">
	<ul id="messages" class=""></ul>
	<form action="" class="chat-form bg-dark">
		<input
			id="m"
			autocomplete="off"
			autofocus
			class="form-control"
			placeholder="Message"
		/>
		<button type="submit" class="btn btn-success">Send</button>
	</form>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
	let user = "<%- user %>";
</script>
<script src="../js/main.js"></script>

<%- include("partials/footer") %>
