<%- include("partials/header") %>

<h2 class="text-center mt-3">
	Welcome to Realtime Chat App, enter you username and begin chatting!
</h2>

<form action="/" method="POST">
	<div class="form-group">
		<input
			type="text"
			name="username"
			id="username"
			class="form-control"
			placeholder="Enter your username"
            autofocus
            required
		/>
	</div>
	<div class="form-group">
		<input type="submit" value="Join Chat" class="btn btn-outline-info" />
	</div>
</form>

<%- include("partials/footer") %>
