* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

form {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

form input[type="text"] {
	display: inline-block;
	width: 60%;
}

.chat-form {
	padding: 3px;
	position: fixed;
	bottom: 10px;
	width: 100vw;
}
.chat-form input {
	padding: 0.5rem 0.5rem;
	width: 80%;
	display: inline-block;
	height: 3rem;
	margin-bottom: 5px;
}
.chat-form button {
	width: 10%;
	padding: 0.5rem 0.5rem;
	height: 3rem;
	margin-bottom: 5px;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 100px;
}
#messages li {
	border: 1px solid grey;
	border-radius: 100px;
	margin: 5px;
	margin-top: 20px;
	padding: 10px 20px;
}

#wrapper {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 93.6vh;
	margin-left: -15rem;
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

.scrollable {
	height: 80%;
	overflow-y: auto;
}
