* {
	margin: 0;
	padding: 0;
}

form {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

form input[type="text"] {
	display: inline-block;
	width: 60%;
}

li p {
	word-wrap: normal;
}

.chat-form {
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 80%;
}
.chat-form input {
	padding: 0.5rem 0.5rem;
	width: 80%;
	display: inline-block;
	height: 3rem;
	margin-bottom: 5px;
}
.chat-form button {
	width: 10%;
	padding: 0.5rem 0.5rem;
	height: 3rem;
	margin-bottom: 5px;
	display: inline-block;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
#messages li {
	border: 1px solid grey;
	border-radius: 10px;
	margin: 5px;
	margin-top: 20px;
	padding: 8px 15px;
}

.page-container {
	overflow: hidden;
}

.left {
	float: left;
	width: 20%;
	height: 93.9vh;
	/* position: fixed; */
}

.right {
	float: right;
	width: 80%;
	height: 88vh;
	overflow-y: scroll;
}

.users {
	list-style: none;
}

.username {
	color: #0084db;
}
